<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Page</title>
    <style>
      body {
        font-family: Marcellus, serif;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1; /* Set background color */
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #d3d3d3; /* Light grey background for the header */
      }
      .header img {
        height: 50px;
      }
      .logout {
        background-color: #fff;
        border: 2px solid #333;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        color: #333;
        display: flex;
        align-items: center;
        padding: 5px 10px;
      }
      .logout img {
        height: 20px;
        margin-left: 5px;
      }
      .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      .profile-section img {
        height: 100px;
        margin-bottom: 10px;
      }
      .welcome {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
      }
      .table-container {
        width: 30%;
        margin: 20px auto;
        background-color: #d3d3d3; /* Light grey background for the table */
        padding: 20px;
        border-radius: 10px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 16px;
        text-align: left;
      }
      th {
        background-color: #f8f8f8; /* Light grey background for the table header */
      }
      td {
        background-color: #c88d94; /* University PR color */
        color: #000;
        border-bottom: 1px solid #ddd; /* Light grey border for table rows */
      }
      .action-icons {
        display: flex;
        gap: 10px;
      }
      .action-icons button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      .action-icons button img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img src="SVU.png" alt="University Logo 1" />
      <img src="KJSCE.png" alt="University Logo 2" />
      <a href="index">
        <a class="logout" href="/logout">
          Logout
          <img src="logout.png" alt="Logout Icon" />
        </a>
      </a>
    </div>
    <div class="profile-section">
      <img src="profile.png" alt="Profile Icon" />
      <div class="welcome">Welcome, <%= name %></div>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Academic Year</th>
            <th>Action</th>
          </tr>
        </thead>
        <% academic_year.forEach(item => { %>
        <tbody>
          <tr>
            <td><%= item.tenure %></td>
            <td class="action-icons">
              <button
                onclick="redirectToView('<%= name %>' , '<%= council_id %> ', '<%= item.tenure%>', '<%= item.tenure_id%>')"
              >
                <img src="view.png" alt="View Icon" />
              </button>
              <button
                onclick="redirectToEdit('<%= name %>' , '<%= council_id %>', '<%= item.tenure%>' ,'<%= item.tenure_id%>')"
              >
                <img src="edit.png" alt="Edit Icon" />
              </button>
            </td>
          </tr>
        </tbody>

        <% }); %>
      </table>
    </div>

    <script>
      function redirectToView(name, id, year,tenure_id) {
        window.location.href =
          "/view?name=" +
          encodeURIComponent(name) +
          "&council_id=" +
          encodeURIComponent(id) +
          "&year=" +
          encodeURIComponent(year) +
          "&tenure_id=" +
          encodeURIComponent(tenure_id);
      }

      function redirectToEdit(name, id, year,tenure_id) {
        window.location.href =
          "/new_edit?name=" +
          encodeURIComponent(name) +
          "&council_id=" +
          encodeURIComponent(id) +
          "&year=" +
          encodeURIComponent(year) +
          "&tenure_id=" +
          encodeURIComponent(tenure_id);;
      }
    </script>
  </body>
</html>
